:root{
    --fundo: #f5f5f5;
    --cartao-frente: #9370db;
    --cartao-verso: #715bf0;
    --branco: white;
    --preto: black;
    --destaque: #d8dfdf;
}

body{
    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom: 0;
}